# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# Crash log files
crash.log

# Local .terraform directories
.terraform/

# Terraform workspace files
*.tfworkspace

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# その他
*.log
*.tmp
